<!DOCTYPE html>
<header>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/styles.css" />
        <title>O'Cuccultura</title>
    </head>


    <nav>
        <div class="logo" style="display: flex;align-items: center;">
            <span
                style="color:#01939c; font-size:26px; font-weight:bold; letter-spacing: 1px;margin-left: 20px;">O'Cuccultura</span>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a routerLink="/shop">Shop</a></li>
            <li><a routerLink="/admin/users">Users</a></li>
            <li><a routerLink="/admin/books">Books</a></li>
            <!--<li><a href="https://www.web-leb.com/code">Services</a></li>-->
            <!--<li><a href="https://www.web-leb.com/code">Contact Us</a></li>-->
            <li><button class="login-button" routerLink="/login">Login</button></li>
        </ul>
    </nav>
    <script src="/js/main.js"></script>


    </html>
</header>




<!-- 
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://angular.io" class="navbar-brand">O'Cuccultura</a></div>
       

        <ul class="navbar-nav">
            <li><a  class="nav-link" routerLink="/shop"  >Shop</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/admin/users" class="dropdown-item">Users</a>
                    <a routerLink="/admin/books" class="dropdown-item">Books</a>
                </div>
            </li>
            <li><a  class="nav-link" routerLink="/login"  >Login/Register</a></li>
        </ul>
    </nav>
</header>
-->